<launch>

    <!-- This is the launch file to start the testing set up of our project -->
    
    <!-- Param to specify the location of the config file -->
    <param name="config_file_name" value="../config/file1.json" />
    
    <!-- Start the controller node -->
    <!-- The controller node will start the robot nodes -->
    <node name="controller" pkg="ebc" type="Controller1.py" output="screen" >
        
    </node>
    
</launch>
        

